@model MvcStok.Models.Entity.TBLMUSTERILER
@{
    ViewBag.Title = "CustomerGet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Update" , "Customer" , FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(x => x.ID)
                    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" , @readonly = "readonly" })
                    <br />
                    @Html.LabelFor(x => x.AD)
                    @Html.TextBoxFor(x => x.AD, new { @class = "form-control" })
                    <br />
                    @Html.LabelFor(x => x.SOYAD)
                    @Html.TextBoxFor(x => x.SOYAD, new { @class = "form-control" })
                </div>
                <div>
                    <button type="submit" class="btn btn-success">Güncelle</button>
                </div>
            }


